@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "BungeeShade";
    src: url("../public/fonts/bungeeShade-Regular.ttf");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "DMSans";
    src: url("../public/fonts/DMSans-Bold.ttf");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
} 

@font-face {
    font-family: "Sansita";
    src: url("../public/fonts/Sansita-Black.ttf");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
} 

@font-face {
    font-family: "GravitasOne";
    src: url("../public/fonts/GravitasOne-Regular.ttf");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
} 